.search-btn{
  //reset
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}
.search-input{
  //reset
  border: none;
  &:focus{
    border:none;
    outline: none
  }
}

.search{
  position: relative;
  max-width: 560px;
  width: 50%;
  @include _1000{
    max-width: 420px;
  }
  @include _480{
    width: 100%;
  }

  &-input{
    box-sizing:border-box;
    width: 100%;
    background: #DCDAEB;
    border-radius: 20px;

    padding: 19.5px 30px 19.5px 80px;

    @extend %light-font;
    font-weight: 600;
    color:$mainColor;
    @include _1000{
      padding-right: 65px;
      padding-left: 68px;
    }
    @include _768{
      height: 50px;
      padding-left: 50px;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &-btn{
    position: absolute;
    left: 0;
    top: 25%;
    margin-left: 20px;
    @include _768{
      margin-left: 12px
    }
    & img{
      @include _768{
        height: 23px;
      }
    }
  }
  &-filters-btn{
    display: none;
    left: auto;
    margin-left: auto;
    position: absolute;
    right: 20px;	    
    top: 30%;
    @include _1000{
      display: block;
    }
    @include _768{
      top:25%
    }	      
    & span{
      display: block;
      background-color: $mainColor;
      border-radius: 2px;
      width: 27px;
      height: 2px;
      margin-bottom: 9px;
    }
  }
}