.search-btn {
  //reset
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.search-input {
  //reset
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.search {
  position: relative;
  width: 560px;
  @include _768 {
    width: 100%;
  }
  &-input {
    box-sizing: border-box;
    width: 100%;
    background: #dcdaeb;
    border-radius: 20px;

    padding: 19.5px 30px 19.5px 80px;

    @extend %light-font;
    font-weight: 600;
    color: $mainColor;
    @include _768 {
      width: 100%;
      height: 50px;
    }
  }

  &-btn {
    position: absolute;
    left: 0;
    top: 25%;
    margin-left: 20px;
  }
}
