.search-btn {
  //reset
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.search-input {
  //reset
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.search {
  position: relative;

  &-input {
    // max-width: 450px;
    width: 440px;
    background: #dcdaeb;
    border-radius: 20px;

    padding: 19.5px 30px 19.5px 90px;

    @extend %light-font;
    font-weight: 600;
    color: $mainColor;
  }

  &-btn {
    position: absolute;
    left: 0;
    top: 25%;
    margin-left: 20px;
    &::after {
      position: absolute;
      content: "";
      top: -2px;
      bottom: 0;
      border-radius: 2px;
      background: $mainColor;
      width: 2px;
      margin-left: 15px;
      cursor: text;
    }
  }
}
