.footer {
  background-color: $mainColor;
  margin-top: auto;
  z-index: 30;
  &__inner {
    @extend %container;
    display: flex;
    height: 140px;
    justify-content: flex-end;
    align-items: center;
    @include _768 {
      justify-content: center;
      height: 120px;
    }
    @include _480{
      height: 100px;
    }
  }
}
