.header {
  &--main {
    background: none;
    position: static;
    @include _768{
      position: sticky;
      background: $mainColor;
    }
  }
  transition: background 0.5s ease-in-out;
  overflow: hidden;
  position: sticky;
  top: 0;
  background: $mainColor;
  height: 140px;
  z-index: 10;
  @include _768{
    overflow: visible;
    height: unset
  }
  &__inner {
    @extend %container;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include _768{
      padding: 9px 0;
    }
    @include _480{
      padding: 0;
    }
  }
  &__link svg{
    @include _768{
      width: 180px;
    }
    @include _480{
      width: 150px;
    }
  }
}
