.main {
	height: 800px;
	display: flex;

	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 250px;

		.title-block {
			background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.8) 100%),
				rgba(255, 255, 255, 0.6);
			border-radius: 80px;
			font-size: 26px;
			font-weight: 700;
			color: black;
			display: flex;

			.heading {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 260px;
				height: 260px;
				font-size: 31px;
				letter-spacing: -0.22px;

				.heading__text {
					line-height: 35px;
				}

				.heading__text_big-first {
					font-size: 74px;
					letter-spacing: 3px;
					line-height: 60px;
				}

				.heading__text_big-second {
					font-size: 74px;
					letter-spacing: -1px;
					line-height: 60px;
				}


			}
		}

		.image {
			padding-bottom: 60px;
			width: 90%;
			height: 90%;
		}
	}
}