.main {
	height: 800px;
	display: flex;

	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 250px;

		.heading-block {
			position: relative;
			background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.8) 100%),
				rgba(255, 255, 255, 0.6);
			border-radius: 80px;
			font-size: 26px;
			font-weight: 700;
			color: black;
			display: flex;
			z-index: 1;

			.heading {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 260px;
				height: 260px;
				font-size: 31px;
				letter-spacing: -0.85px;

				&__text {
					line-height: 35px;
				}

				&__text_big-first {
					font-size: 74px;
					letter-spacing: 3px;
					line-height: 60px;
				}

				&__text_big-second {
					font-size: 74px;
					letter-spacing: -1.85px;
					line-height: 60px;
				}
			}
		}

		.heading-block::before {
			content: '';
			background: linear-gradient(315deg, rgba(71, 112, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%),
				linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
			backdrop-filter: blur(15px);
			border-radius: 80px;
			position: absolute;
			right: 0;
			width: 0;
			bottom: 0;
			left: 100px;
			height: 260px;
			transition: width 300ms ease-out;
			z-index: -1;
		}

		.heading-block:hover::before {
			z-index: -1;
			right: 0;
			width: 620px;
			left: 100px;
			transition: width 300ms cubic-bezier(0.34, 1.56, 0.64, 1);

		}

		.main__image {
			padding-bottom: 60px;
			width: 85%;
			height: 85%;
		}
	}
}