.home-frame {
	height: fit-content;
  position: relative;
  overflow: hidden;
}

.home-frame::before{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
 
  display: block;
  width: 106%;
  height: 100%;

	background: linear-gradient(rgba(4, 3, 24, 0.4), rgba(4, 3, 24, 0.4)), url(assets/img/frame-bg.jpg) no-repeat center -195px/cover;

  filter: blur(8px);
}
