.about {
  background-color: #eaeaea;
  min-height: 432px;
  &__inner {
    padding: 50px 0px 70px;
    @extend %container;
    @include _320 {
      padding-top: 30px;
    }
  }
  &__title {
    @extend %title-font;
    text-transform: uppercase;
    @include _1188 {
      text-align: center;
    }
    @include _320 {
      font-size: 36px;
      line-height: 40px;
    }
  }
  &__text {
    margin-top: 50px;
    max-width: 1159px;
    @include _320 {
      margin-top: 30px;
    }
  }
  &__text-item {
    margin-top: 30px;
    @extend %light-font;
    @include _320 {
      text-align: center;
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__social-link svg {
    @include _1000 {
      height: 5rem;
      width: 5rem;
    }
    @include _320 {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
