.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 467px;
  width: 361px;
  &__heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
  }
}
