%community-logo {
  height: 260px;
  width: 260px;
  border-radius: 80px;

  @include _480 {
    height: 80px;
    width: 90px;
    border-radius: 60px;
  }

  @include _320 {
    border-radius: 40px;
  }
}

.community {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  margin-top: 25px;
  @extend %container;

  @include _1440 {
    gap: 50px;
  }

  @include _1000 {
    gap: 0;
  }

  @include _768 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  @include _480 {
    height: fit-content;
    flex-wrap: nowrap;
    margin: 115px auto 0 auto;
    // width: 300px;
  }

  &__logo {
    position: relative;
    z-index: 9;
    font-weight: 700;
    margin-top: 30px;

    @include _768 {
      margin-top: 0px;
    }

    @include _480 {
      position: absolute;
      margin-left: 12px;
      margin-bottom: 14px;
    }
  }

  &__logo::after {
    // for similar bg
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @extend %community-logo;
    width: 258px;
    height: 258px;
    background-color: #3a50bf;
    z-index: -1;

    @include _480 {
      background: none;
      position: unset;
    }
  }

  &__logo:hover .community__logo-title {
    background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.4) 100%),
      rgba(255, 255, 255, 0.68);
    transition: background 0.1s ease-out;

    @include _480 {
      background: none;
    }
  }

  &__decor {
    height: 740px;

    @include _1440 {
      height: 660px;
    }

    @include _1000 {
      height: 447px;
    }

    @include _768 {
      height: 414px;
    }

    @include _480 {
      height: 312px;
    }
  }

  &__logo-title {
    box-sizing: border-box;
    font-size: 72px;
    line-height: 62px;

    padding: 47px 46px 0px 46px;
    @extend %community-logo;
    background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.4) 100%),
      rgba(255, 255, 255, 0.6);
    transition: background 0.1s ease-out;
    backdrop-filter: blur(6px);

    z-index: 10;

    @include _480 {
      font-size: 38px;
      line-height: 28px;
      background: none;
      backdrop-filter: none;
      padding: 0;
    }
  }

  &__logo-title-first {
    letter-spacing: 3px;

    @include _480 {
      letter-spacing: 1px;
    }
  }

  &__logo-title-second {
    letter-spacing: -1.85px;
  }

  &__logo-subtitle {
    font-size: 30px;
    line-height: 34px;

    position: absolute;
    bottom: 55px;
    left: 50px;

    @include _480 {
      bottom: 7px;
      left: 3px;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__logo-about {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;

    @extend %community-logo;
    padding-left: 230px;

    background: linear-gradient(315deg, rgba(71, 112, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%),
      rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    color: #010010;

    transition: width 0.3s ease-out;

    z-index: -5;

    @include _768 {
      transition: height 0.3s ease-out;

    }

    @include _480 {
      opacity: 0;
      visibility: hidden;
      width: 300px;
      height: 380px;
      left: -111px;
      top: -150px;
      transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
      z-index: 20;
    }

    @include _320 {
      width: 280px;
      left: -100px;
      top: -120px;
      padding: 0;
      height: 240px;
    }
  }

  &__logo:hover .community__logo-about {
    padding-left: 300px;
    width: 720px;
    transition: width 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); //ease-out-back;

    @include _768 {
      padding-left: 260px;
      padding-top: 260px;
      width: 0;
      height: 680px;
      transition: height 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); //ease-out-back;
    }

    @include _480 {
      opacity: 1;
      visibility: visible;
      width: 300px;
      height: 380px;
      left: -111px;
      top: -150px;
      backdrop-filter: blur(8px);
      transition: opacity 0.3s ease-in;
      z-index: 20;
    }

    @include _320 {
      width: 280px;
      left: -100px;
      top: -120px;
      padding: 0;
      height: 240px;
    }
  }

  &__logo-text {
    position: absolute;
    content: '';

    top: 35px;
    left: 300px;
    right: 35px;
    bottom: 35px;

    transition: opacity 0.1s ease-out;
    transition-delay: 0.3s;

    opacity: 0;
    font-size: 0px;

    @include _768 {
      left: 0;
      right: 0;
      top: 260px;
      text-align: justify;
    }

    @include _480 {
      top: 0;
    }
  }

  &__logo:hover .community__logo-text {
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.1s ease-out;
    transition-delay: 0.3s;

    @include _768 {
      font-size: 20px;
      padding: 15px 20px
    }

    @include _480 {
      padding: 35px 30px;
      transition: none;
    }

    @include _320 {
      font-size: 16px;
      line-height: 20px;
      padding: 20px 15px;
    }
  }

  &__logo .community__logo-text {
    transition-delay: 0s;
  }
}