.communities{
  &__inner{
    padding:50px 0px 80px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  &__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    color: #0C073E;
  }
  &__items-box{
    margin-left:50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 300px;
    grid-row-gap: 0px;
  }
  &__item-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #121212;
    justify-content: center;
    width: 400px;
  }
}
