.communities {
  // min-height: 100vh;
  // display: flex;
  // align-items:center;
  &__inner {
    padding: 50px 0px 80px;
    @extend %container;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    @include _1188 {
      gap: 30px;
    }
  }
  &__title {
    @extend %title-font;
    @include _1188 {
      text-align: center;
    }
  }
  &__items-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 300px;
    grid-row-gap: 0px;
    @include _1188 {
      display: flex;
      flex-direction: column;
    }
  }
  &__item-title {
    @extend %subtitle-font;
    justify-content: center;
    width: 400px;
  }
}
