%community-logo{
  height: 260px;
  width: 260px;
  border-radius: 80px;
}
.community {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  @extend %container;
  // min-height: 80vh;
  &__logo {
    position: relative;
    z-index: 10;
    font-weight: 700;
    margin-top: 30px;
  }

  &__logo::after {
    // for similar bg
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    @extend %community-logo;
    width: 258px;
    background-color: #3a50bf;
    z-index: -1;
  }
  
  &__logo:hover .community__logo-title{
    background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.4) 100%),
      rgba(255, 255, 255, 0.68);
    transition: background 0.1s ease-out;
  }

  &__decor {
    height: 740px;
  }

  &__logo-title {
    box-sizing: border-box;
    font-size: 72px;
    line-height: 62px;

    padding: 47px 46px 0px 46px;
    @extend %community-logo;
    background: linear-gradient(315deg, rgba(71, 112, 255, 0.16) 0%, rgba(255, 255, 255, 0.4) 100%),
      rgba(255, 255, 255, 0.6);
    transition: background 0.1s ease-out;
    backdrop-filter: blur(6px);

    z-index: 10;
  }
  &__logo-title-first {
    letter-spacing: 3px;
  }

  &__logo-title-second {
    letter-spacing: -1.85px;
  }

  &__logo-subtitle {
    font-size: 30px;
    line-height: 34px;
    
    position: absolute;
    bottom: 55px;
    left: 50px;
  }

  &__logo-about {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    
    @extend %community-logo;
    padding-left: 230px;

    background: linear-gradient(315deg, rgba(71, 112, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%),
      rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    color: #010010;

    transition: width 0.3s ease-out;

    z-index: -5;
  }

  &__logo-text{
    position: absolute;
    content: '';
    
    top: 35px;
    left: 300px;
    right: 35px;
    bottom: 35px;

    transition: opacity 0.1s ease-out;
    transition-delay: 0.3s;

    opacity: 0;
    font-size: 0px;
  }

  &__logo:hover .community__logo-about {
    padding-left: 300px;
    width: 720px;
    transition: width 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); //ease-out-back;

  }

  &__logo:hover .community__logo-text {
      font-size: 20px;
      opacity: 1;
      transition: opacity 0.1s ease-out;
      transition-delay: 0.3s;
  }

   &__logo .community__logo-text{
      transition-delay: 0s;
  }
}
