.contacts {
  background-color: #eaeaea;
  &__inner{
    padding: 50px 0;
  }
  &__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    color: #0c073e;
  }
  &__discord-block {
    @include flex-v-center;
    gap: 60px;
    margin-top: 40px;
  }
  &__github-block {
    @include flex-v-center;
    gap: 60px;
    margin-top: 40px;
  }
  &__text-discord {
    @include text;
    height: 93px;
    max-width: 959px;
  }
  &__text-github {
    @include text;
    height: 62px;
    max-width: 959px;
  }
}
