.members {
  padding: 50px 0;
  min-height: 877px;
  @extend %container;
  &__top {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    @include _320 {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  &__title {
    @extend %title-font;
    @include _768 {
      font-size: 40px;
      font-weight: 700;
      line-height: 54px;
    }
    @include _480 {
      font-size: 32px;
      font-weight: 700;
      line-height: 44px;
    }
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 90px;
    @include _1188 {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 50px;
      position: relative;
    }
    @include _320 {
      margin-top: 25px;
    }
  }
  &__filters {
    @include _1188 {
      position: absolute;
      width: 760px;
      height: inherit;
      top: 0;
      visibility: hidden;
      opacity: 0;
    }
    @include _768 {
      //order: 2;
      max-width: 100%;
    }
  }
  &__list {
    @include _768 {
      //order: 1;
      width: 100%;
    }
  }
  &__search {
    @include _768 {
      max-width: 420px;
    }
  }
}
