.members {
  padding: 50px 0;
  @extend %container;
  &__top {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    @include _768{
      flex-wrap: wrap;
    }
  }
  &__title{
    @extend %title-font;
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 90px;
    @include _768{
      flex-wrap: wrap;
    }
  }
  &__filters{
    @include _768{
    order: 1;
    max-width: 100%;
    }
  }
  &__list{
    @include _768{
    order: 2;
    width: 100%;
    }
  }
}
