.members {
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__inner{
    padding: 50px 0;
    @extend %container;
  }
  &__title{
    @extend %title-font;
  }
  &__main {
    display: flex;
    gap: 40px;
    margin-top: 90px;
  }
  &__list {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    box-sizing: border-box;
    padding: 0 30px;
    height: 70px;

    @extend %text-font;
    background-color: #dcdaeb;
    border-radius: 20px;
    @include flex-v-center;
    justify-content: space-between;

    cursor: pointer;
    &-counter::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 30px;
      background-color: $mainColor;
      right: 115%;
      top: 15%;
      border-radius: 100px;
    }
    &-counter {
      color: $textColor;
      text-decoration: none;
      position: relative;
    }
    &-counter::after {
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      bottom: -3px;
      height: 2px;
      background-color: $textColor;
      transition: width 250ms;
    }
    &-counter:hover::after {
      right: auto;
      width: 100%;
      left: 0;
    }
  }
  &__filters {
    max-width: 560px;
    box-sizing: border-box;
    background-color: #dcdaeb;
    border-radius: 20px;
    padding: 0 25px;
    &-heading {
      display: inline-block;
      position: relative;
      @extend %text-font;
      margin-top: 17px;
    }
    &-heading::after {
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      bottom: -3px;
      height: 2px;
      background-color: $textColor;
      transition: width 250ms;
    }
    &-heading:hover::after {
      right: auto;
      width: 100%;
      left: 0;
    }
  }
  &__buttons {
    border-bottom: 2px solid #bab8cc;
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__btn {
    min-width: 60px;
    min-height: 40px;
    padding: 4px 10px;
  }
}
