.navbar {
  z-index: 15;
  &__list {
    display: flex;
    gap: 90px;
  }
  &__link {
    @extend %text-font;
    color:#F0F0F0;
  }
  @include underline('&__link', #F0F0F0);
  @include _768{
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    padding: 50px;
    padding-top: 145px;
    right: 0;
    top: 140px;
    bottom: -140px;
    background: #f0f0f0;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0), visibility 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: 2px 3px 17px 0px #000;
    &--open{
      opacity: 1;
      visibility: visible;
    }

    &__list{
      flex-direction: column;
      gap:53px;
      display: flex;
    }
    &__link{
      color: $mainColor;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
    }
  }
}
