.section{
  &__list {
    width: 560px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    box-sizing: border-box;
    padding: 0 30px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @extend %text-font;
    background-color: #dcdaeb;
    border-radius: 20px;

    opacity: 1;
    
    @include underline('&-counter', $textColor);
    cursor: pointer;
  }

  &__item-counter::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: $mainColor;
    right: 115%;
    top: 15%;
    border-radius: 100px;
  }

  &__item-counter {
    color: $textColor;
  }

  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  &__item-link{
    height: 50px;
  }

  &__item.hide {
    transition: all 0.4s ease-out;
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
    .section__item-counter, 
    .section__item-name, 
    .section__item-counter::after{
      opacity:0;
      transition: all 0.2s ease-out;
    }
    .section__item-link{
      opacity:0;
      transition: all 0.1s ease-out;
    }
  }

  &__filters {
    box-sizing: border-box;
    max-width: 560px;
    background-color: #dcdaeb;
    border-radius: 20px;
    padding: 0 25px;
    &-heading {
      display: inline-block;
      @extend %text-font;
      margin-top: 17px;
    }
    @include underline('&-heading',$textColor);
  }

  &__buttons {
    border-bottom: 2px solid #bab8cc;
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  &__btn {
    min-width: 60px;
    min-height: 40px;
    padding: 4px 10px;
  }

  &__range{
    margin: 40px auto 0 auto
  }
}
