.social {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 20px;
  &__item-link .social__item-link--discord rect, &__item-link .social__item-link--github path:first-child{
    transition: fill 0.2s ease-in-out;
  }
  &__item-link .social__item-link--discord, &__item-link .social__item-link--github  {
    transition: transform 0.2s ease-in-out;
  }

  &__item-link:hover .social__item-link--discord rect{
    fill: #7289da;
    transition: fill 0.2s ease-in-out;
  }
  &__item-link:hover .social__item-link--github path:first-child{
    fill: #231e1b;
    transition: fill 0.2s ease-in-out;
  }
   &__item-link:hover .social__item-link--discord, &__item-link:hover .social__item-link--github {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.12);
   }
}
