@mixin font-face(
  $font-family,
  $font-style: normal,
  $font-weight: 400,
  $path,
  $font-format: "woff2"
) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($path) format($font-format);
  }
}
@mixin flex-v-center {
  display: flex;
  align-items: center;
}
@mixin text {
  display: block;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}
@mixin social-link {
  &__link {
    .discord {
      rect {
        transition: fill 200ms ease-in-out;
      }
      transition: transform 200ms ease-in-out;
    }
    .github {
      path:nth-child(1) {
        transition: fill 200ms ease-in-out;
      }
      transition: transform 200ms ease-in-out;
    }
  }
  &__link:hover {
    .discord {
      rect {
        fill: #032ec9;
        transition: fill 200ms ease-in-out;
      }
      transition: transform 200ms ease-in-out;
      transform: scale(1.12);
    }
    .github {
      path:nth-child(1) {
        fill: #032ec9;
        transition: fill 200ms ease-in-out;
      }
      transition: transform 200ms ease-in-out;
      transform: scale(1.12);
    }
  }
}
